.config-container {
	display: flex;
	height: 100%;
	justify-content: flex-start;

	background: #031297;
	font-family: "Korinna";
	border: 3px solid black;
}

.config-pane {
	display: flex;
	flex: 1;
	flex-direction: column;

	padding: 10px;
}

.config-pane-header {
	display: flex;

	margin-top: 10px;
	color: #f2f2f2;
	font-size: 1.2rem;
	justify-content: center;
}

.config-pane-content {
	background: #f2f2f2;
	padding: 10px;
}

.config-pane-playerName-label {
	margin-bottom: -5px;
	margin-left: 5px;
	word-spacing: -5px;
}

.config-pane-playerNameInput {
	padding: 5px;
	word-spacing: -5px;
}

.config-gameModeSelection-container {
	display: flex;
	padding: 5px;
}

.config-gameModeSelection-item {
	flex-grow: 1;
}

.config-gameSelection {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.config-gameSelection-dropdown {
	display: flex;
	padding: 5px;
	width: 33%;
}

.config-gameSelection-dropdown-val {
	width: 80%;
	pointer-events: none;
}

.config-saveConfig-button {
	padding: 5px;
}
