<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>jeppy</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>

  {% block topbar %}
  <header>
  </header>
  {% endblock %}

  <div class="container">
    <div class="content">
      {% block content %}
      {% endblock %}
   </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='javascript/jquery-3.5.1.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% block footer %}
    {% endblock %}
  </body>
  
</html>