html {
  height: 100%;
}

@font-face {
  font-family: 'Korinna';
  src: url(../src/fonts/KORIN.woff) format('woff');
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Korinna';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
